.poem {
    max-width: 650px;
    margin: 4rem auto;
    text-align: left;
    white-space: pre-line;
    font-family: Georgia, serif;
    line-height: 1.0;
    font-size: 1.1rem;
}

.poem p {
    margin: 0;
}

body {
    bacground: red;
}